<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario de Interpretabilidad</title>
</head>
<body>
    <h1>Cuestionario de Interpretabilidad</h1>
    <div id="instructions">
        <p><strong>Nota importante:</strong> Una vez que respondas una pregunta y avances a la siguiente, no podrás regresar para cambiar tu respuesta. Te recomendamos que revises tus respuestas cuidadosamente antes de continuar.</p>
        <button id="start-questionnaire-btn">Comenzar Cuestionario</button>
    </div>
    <div id="question-container" style="display:none;"></div>
    <button id="next-question-btn" style="display: none;">Siguiente</button>

    <!-- Enlace al archivo JavaScript -->
    <script src="/static/js/app.js"></script>
</body>
</html>
